body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: #fff;
}



.tag {
    position: relative;
    background-image: url('https://ik.imagekit.io/tcfp7i31d/logo_with_yp_black_urUeyjKwY.svg');
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.booking-form-container {
    position: absolute;
    top: 85px;
    left: 100px;
    width: 250px;
    background-color: #00acc1;
    padding: 50px;
    border-radius: 10px
}

input,
textarea {
    width: 250px;
    height: 20px;
    border-radius: 8px;
    background-color: rgb(221, 229, 246);
}

textarea {
    height: 40px;
}

.submitButton{
    position: relative;
    top: 20px;
    width: 100px;
    background-color: #007e8e;
    border-radius: 5px;
}

.consultButton{
    position: relative;
    bottom: 20px;
}

Testimonials{
    position: relative;
    margin-top: 100px;
}

.testimonials {
    margin-top: 20px;
}

.testimonial {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.testimonial p {
    color: #fff;
}


.doctor-container {
    margin-top: 100vh;
    position: absolute;
    display: flex;
}

.doctor-card {
    position: relative;
    width: 180px;
    margin: 10px;
    text-align: center;
    background-color: #00acc1;
    line-height: 20px;
    border-radius: 5px;
}


.doctor-image {
    width: 100%;
    height: auto;
}